<div>
    <h2>
        <span jhiTranslate="testbedApp.metaData.home.title">Meta Data</span>
        <button class="btn btn-primary float-right create-meta-data" [routerLink]="['/', { outlets: { popup: ['meta-data-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="testbedApp.metaData.home.createLabel">
            Create new Meta Data
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'testbedApp.metaData.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="metaData">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="testbedApp.metaData.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="version"><span jhiTranslate="testbedApp.metaData.version">Version</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="authors"><span jhiTranslate="testbedApp.metaData.authors">Authors</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="testbedApp.metaData.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="published"><span jhiTranslate="testbedApp.metaData.published">Published</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModified"><span jhiTranslate="testbedApp.metaData.lastModified">Last Modified</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let metaData of metaData ;trackBy: trackId">
                <td><a [routerLink]="['../meta-data', metaData.id ]">{{metaData.id}}</a></td>
                <td>{{metaData.name}}</td>
                <td>{{metaData.version}}</td>
                <td>{{metaData.authors}}</td>
                <td>{{metaData.description}}</td>
                <td>{{metaData.published | date:'medium'}}</td>
                <td>{{metaData.lastModified | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../meta-data', metaData.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'meta-data/'+ metaData.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'meta-data/'+ metaData.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="metaData && metaData.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
