<div>
    <h2>
        <span jhiTranslate="testbedApp.testArtifact.home.title">Test Artifacts</span>
        <button class="btn btn-primary float-right create-test-artifact" [routerLink]="['/', { outlets: { popup: ['test-artifact-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="testbedApp.testArtifact.home.createLabel">
            Create new Test Artifact
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'testbedApp.testArtifact.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="testArtifacts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="testbedApp.testArtifact.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="testbedApp.testArtifact.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="encofing"><span jhiTranslate="testbedApp.testArtifact.encofing">Encofing</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="uri"><span jhiTranslate="testbedApp.testArtifact.uri">Uri</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="content"><span jhiTranslate="testbedApp.testArtifact.content">Content</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="testStepId"><span jhiTranslate="testbedApp.testArtifact.testStep">Test Step</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let testArtifact of testArtifacts ;trackBy: trackId">
                <td><a [routerLink]="['../test-artifact', testArtifact.id ]">{{testArtifact.id}}</a></td>
                <td>{{testArtifact.name}}</td>
                <td>{{testArtifact.type}}</td>
                <td>{{testArtifact.encofing}}</td>
                <td>{{testArtifact.uri}}</td>
                <td>{{testArtifact.content}}</td>
                <td>
                    <div *ngIf="testArtifact.testStepId">
                        <a [routerLink]="['../test-step', testArtifact.testStepId  ]" >{{testArtifact.testStepId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../test-artifact', testArtifact.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'test-artifact/'+ testArtifact.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'test-artifact/'+ testArtifact.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="testArtifacts && testArtifacts.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
